<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.u17od.upm"
          android:versionCode="15"
          android:versionName="1.14">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="16"/>

    <application android:icon="@drawable/upm" 
                 android:label="@string/app_name_short"
                 android:name="UPMApplication">

        <activity android:name=".AppEntryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".EnterMasterPassword">
        </activity>

        <activity android:name=".FullAccountList">
            <meta-data android:name="android.app.default_searchable"
                       android:value=".SearchResults" />
        </activity>

        <activity android:name=".ViewAccountDetails">
        </activity>

        <activity android:name=".CreateNewDatabase">
        </activity>

        <activity android:name=".AddEditAccount">
        </activity>

        <activity android:name=".ChangeMasterPassword">
        </activity>

        <activity android:name=".DownloadRemoteDatabase"
                  android:label="@string/download_remote_database">
        </activity>

        <activity android:name=".SelectDatabaseFromDropboxActivity"
                  android:label="@string/dropbox_files">
        </activity>

        <activity android:name=".SyncDatabaseViaHttpActivity"
                  android:theme="@style/Theme.Transparent">
        </activity>

        <activity android:name=".SyncDatabaseViaDropboxActivity"
                  android:theme="@style/Theme.Transparent">
        </activity>

        <activity android:name=".Prefs" android:label="@string/settings_title"/>

        <activity android:name="com.dropbox.client2.android.AuthActivity"
                  android:launchMode="singleTask"
                  android:configChanges="orientation|keyboard">
            <intent-filter>
                <data android:scheme="db-qkpfz3ar30aozp0" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
